<nav class="navbar navbar-dark bg-primary">
  <ul class="navbar-nav mr-auto flex-column" id="accordion">
    <li class="nav-item">
      <a class="navbar-brand" routerLink="/home">Design Patterns</a>
    </li>
      <li class="nav-item">
        <div class="search-bar">
          <input class="form-control" type="text" placeholder="Search">
          <button class="btn btn-secondary">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </li>
      <br>
      <li class="dropdown-divider"></li>
      <li class="nav-item main-nav-item" *ngFor="let tab of tabs" [ngClass]="{'active': selectedTab.indexOf(tab.url) > -1}" (click)="selectTab(tab.url)">
        <div class="" id="{{tab.url}}" data-toggle="collapse" [attr.data-target]="'#body-'+tab.url" aria-expanded="false" [attr.aria-controls]="'body-'+tab.url">
            <a class="nav-link" routerLink="/design-pattern/{{tab.url}}/main">
              <h5>{{tab.name}}</h5>
            </a>
        </div>
      <div class="dropdown-divider border-darker"></div>
      <div id="body-{{tab.url}}" class="collapse show" [attr.aria-labelledby]="tab.url" data-parent="#accordion">
          <ul class="sub-navbar navbar-nav flex-column">
            <li class="nav-item" *ngFor="let sub of tab.subs" [ngClass]="{'active': selectedSubTab.indexOf(tab.url+'/'+sub.url) > -1}" (click)="selectTab(tab.url+'/'+sub.url, true)">
              <a class="nav-link" routerLink="/design-pattern/{{tab.url}}/{{sub.url}}">{{sub.name}}</a>
            </li>
          </ul>
      </div>
    </li>
    </ul>
  <br>
  <br>
</nav>
