form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  .form-control {
    width: 200px;
  }
}
h5 {
  color: white;
}
.main-nav-item.active .nav-link {
  font-weight: bolder;
}
.sub-navbar {
  margin-left: 1rem;
  .nav-link {
    font-weight: lighter !important;
  }
  .nav-link:hover,
  .active .nav-link {
    font-weight: bold !important;
  }
}
.search-bar {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
