form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  .form-control {
    width: 200px;
  }
}
.main-nav-item.active .nav-link {
  color: black;
  font-weight: bolder;
}
.sub-navbar {
  margin-left: 1rem;
  .nav-link {
    color: rgba(255,255,255,0.8) !important;
    font-weight: lighter !important;
  }
  .nav-link:hover {
    color: white;
  }
  .active .nav-link {
    font-weight: bold !important;
    color: white !important;
  }
}
