<nav class="navbar navbar-expand-lg">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <!--TODO: More Tabs -->
      <li class="nav-item" [ngClass]="{'active': true}">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Theme</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" *ngFor="let theme of themes" (click)="selectTheme(theme)">{{theme}}</a>=
        </div>
      </li>
      <!--TODO: Account <a class="nav-link" routerLink="/account" *ngIf="auth.url == 'login'">Account</a>-->
      <!--TODO: Auth <a class="nav-link" routerLink="/{{auth.url}}" (click)="toggleAuth()">{{auth.buttonText}}</a>-->
    </ul>
  </div>
</nav>
